name: Build ESGF Docs

on:
  workflow_dispatch:
  schedule:
    - cron: '0 2 * * 0'  # every Sunday at 02:00 UTC

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
    
    # 1. Sparse checkout only the docs/source folder and keep it named "source"
    - name: Checkout docs/source from ESGF-vocab
      run: |
        git init esgf-vocab-temp
        cd esgf-vocab-temp
        git remote add origin https://github.com/ESGF/esgf-vocab.git
        git config core.sparseCheckout true
        echo "docs/source/*" >> .git/info/sparse-checkout
        git fetch --depth=1 origin main
        git checkout main
        cd ..
        # Move only the source folder and keep its name
        mv esgf-vocab-temp/docs/source ./source
        rm -rf esgf-vocab-temp

    # 2. Setup Python
    - name: Set up Python
      uses: actions/setup-python@v4

    # 3. Install dependencies
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install mkdocs mkdocstrings mkdocs-material
        pip install sphinx sphinx-markdown-builder myst-parser pymdown-extensions autodoc_pydantic myst-nb sphinx-tabs sphinx-copybutton
        pip install esgvoc



    # 5. Update mkdocs.yml to include mkdocstrings plugin
    # - name: Update mkdocs.yml
    #   run: |
    #     if ! grep -q "mkdocstrings" mkdocs.yml; then
    #       echo -e "\nplugins:\n  - mkdocstrings" >> mkdocs.yml
    #     fi

    # 6. Run Sphinx Markdown build
    - name: Generate Markdown from Sphinx
      run: |
        sphinx-build -b markdown source/ build_md/
        
    - name: Configure Git settings
      run: |
        git config --global user.name "github-actions[bot]"
        git config --global user.email "actions@wcrp-cmip.org"
    - name: Stage changes
      run: git add .
    - name: Commit changes
      run: git commit -m "Update generated Markdown docs [skip ci]" || echo "No changes to commit"
    - name: Push changes
      run: git push origin HEAD:main